* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* Cormorant Unicase */

@font-face {
    font-family: 'Cormorant Unicase';
    src: url('/public/fonts/cormorant-unicase/CormorantUnicase-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant Unicase';
    src: url('/public/fonts/cormorant-unicase/CormorantUnicase-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant Unicase';
    src: url('/public/fonts/cormorant-unicase/CormorantUnicase-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant Unicase';
    src: url('/public/fonts/cormorant-unicase/CormorantUnicase-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant Unicase';
    src: url('/public/fonts/cormorant-unicase/CormorantUnicase-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* David Libre */

@font-face {
    font-family: "David Libre";
    src: url("/public/fonts/david-libre/DavidLibre-Bold.woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "David Libre";
    src: url("/public/fonts/david-libre/DavidLibre-Medium.woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "David Libre";
    src: url("/public/fonts/david-libre/DavidLibre-Regular.woff2");
    font-weight: 400;
    font-style: normal;
}

/* Days One */

@font-face {
    font-family: "Days One";
    src: url("/public/fonts/days-one/DaysOne-Regular.woff2");
    font-weight: 700;
    font-style: normal;
}

/* Forum */

@font-face {
    font-family: "Forum";
    src: url("/public/fonts/forum-font/Forum-Regular.woff2");
    font-weight: 400;
    font-style: normal;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8EEE3;
}

/* Header */

#nav-menu-btn {
    display: none;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    
}

header {
    display: flex;
    width: 100%;
    height: 60px;
    max-width: 1440px;
    justify-content: space-around;
    align-items: center;
}

#header-logo {
    background: url("/public/images/LIGHTLAND.svg") no-repeat;
    width: 239px;
    height: 26px;
    background-size: contain;

    z-index: 3;
}

nav {
    width: 50%;
    min-width: 420px;

    z-index: 2;
}

#main-nav {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;

    z-index: 2;
}

.main-item a{
    color: #653B0D;
    font-family: "Cormorant Unicase";
    font-weight: 400;
    text-decoration: none;
    font-size: 1rem;
}


@media (orientation: portrait) and (min-width: 320px) {

    #header-logo {
        width: 180px;
        height: 20px;
    }

    header {
        height: 40px;
    }

    .main-item a {
        font-size: 0.8rem;
    }
}

@media (orientation: portrait) and (min-width: 768px) {
    #header-logo {
        width: 239px;
        height: 26px;
    }

    header {
        height: 60px;
    }
}

@media (max-width: 720px) {
    header {

        padding-top: 10px;
        display: grid;
        
        grid-template-columns: 1fr, 24px;
        grid-template-rows: repeat(2, 1fr);

        width: 90%;
        max-width: 640px;
        justify-content: space-between;
        

    }

    #header-logo {
        grid-column: 1;
        grid-row: 1;
    }

    nav {
        height: 100vh;
        grid-row: 2;
        grid-column: 1;
        top: 0;
        left: 0;
        padding-left: 5%;
        transform: translateX(-100%);
        transition: 1s;
        position: fixed;
        visibility: hidden;
        width: 100%;
        min-width: 180px;
        background-color: #ebc9a4;
        z-index: 2;
    }

    #main-nav {
        
        grid-row: 2;
        grid-column: 1;

        margin-top: 80px;
        height: 130px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 2;
    }

    nav.show-menu {
        visibility: visible;
        transform: translateX(0);
        display: block;
        z-index: 1;
    }

    /* nav.show-menu::before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #F8EEE3;
        z-index: -1;
    } */

    #nav-menu-btn {
        grid-column: 2;
        grid-row: 1;
        display: block;

        z-index: 2;
    }
}