* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    scroll-behavior: smooth;
}

/* Cormorant Unicase */

@font-face {
    font-family: 'Cormorant Unicase';
    src: url('/fonts/cormorant-unicase/CormorantUnicase-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant Unicase';
    src: url('/fonts/cormorant-unicase/CormorantUnicase-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant Unicase';
    src: url('/fonts/cormorant-unicase/CormorantUnicase-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant Unicase';
    src: url('/fonts/cormorant-unicase/CormorantUnicase-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant Unicase';
    src: url('/fonts/cormorant-unicase/CormorantUnicase-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* David Libre */

@font-face {
    font-family: "David Libre";
    src: url("/fonts/david-libre/DavidLibre-Bold.woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "David Libre";
    src: url("/fonts/david-libre/DavidLibre-Medium.woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "David Libre";
    src: url("/fonts/david-libre/DavidLibre-Regular.woff2");
    font-weight: 400;
    font-style: normal;
}

/* Days One */

@font-face {
    font-family: "Days One";
    src: url("/fonts/days-one/DaysOne-Regular.woff2");
    font-weight: 700;
    font-style: normal;
}

/* Forum */

@font-face {
    font-family: "Forum";
    src: url("/fonts/forum-font/Forum-Regular.woff2");
    font-weight: 400;
    font-style: normal;
}

/* Segoe Mono Unicode */

@font-face {
    font-family: "Segoe Mono Unicode";
    src: url("/fonts/SegoeMonoUnicode/SegoeMonoUnicode-Regular.woff2");
    font-weight: 400;
    font-style: normal;
}

/* Ubuntu */

@font-face {
    font-family: "Ubuntu";
    src: url("/fonts/ubuntu-font/Ubuntu-Bold.woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu";
    src: url("/fonts/ubuntu-font/Ubuntu-BoldItalic.woff2");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Ubuntu";
    src: url("/fonts/ubuntu-font/Ubuntu-Italic.woff2");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Ubuntu";
    src: url("/fonts/ubuntu-font/Ubuntu-Light.woff2");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu";
    src: url("/fonts/ubuntu-font/Ubuntu-LightItalic.woff2");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Ubuntu";
    src: url("/fonts/ubuntu-font/Ubuntu-Medium.woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu";
    src: url("/fonts/ubuntu-font/Ubuntu-Medium.woff2");
    font-weight: 500;
    font-style: normal;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8EEE3;
}

/* Header */

#nav-menu-btn {
    display: none;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
}

header {
    display: flex;
    width: 100%;
    height: 60px;
    max-width: 1440px;
    justify-content: space-around;
    align-items: center;
}

#header-logo {
    position: relative;
    background: url("/images/LIGHTLAND.svg") no-repeat;
    width: 239px;
    height: 26px;
    background-size: contain;

    z-index: 2;
}

nav {
    width: 50%;
    min-width: 420px;
    z-index: 1;
}

#main-nav {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;
}

#main-nav a{
    color: #653B0D;
    font-family: "Cormorant Unicase";
    font-weight: 400;
    text-decoration: none;
    font-size: 1rem;
}

@media (hover: hover) and (min-width: 721px) {
    .main-item:hover {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-decoration-color: #653B0D;
        text-underline-offset: 10px;
    }
}


@media (orientation: portrait) and (min-width: 320px) {

    #header-logo {
        width: 180px;
        height: 20px;
    }

    header {
        height: 40px;
    }
}

@media (orientation: portrait) and (min-width: 768px) {
    #header-logo {
        width: 239px;
        height: 26px;
    }

    header {
        height: 60px;
    }
}

@media (max-width: 720px) {
    header {
        width: 90%;
        max-width: 640px;
        justify-content: space-between;
        z-index: 5;
    }

    nav {
        transform: translateX(-100%);
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        position: absolute;
        background: #ebcba8;
        transition: transform 1s ease;
    }

    nav.show-menu {
        transform: translateX(0);
    }

    #main-nav {
        margin-top: 80px;
        flex-direction: column;
        justify-content: start;
        height: 220px;
        width: 90%;
    }

    #main-nav a{
        font-size: 1.3rem;
    }

    .main-item {
        position: relative;
        width: 100%;
        padding: 2.5% 5%;
    }

    .main-item:active {
        background: #d4b493;
    }

    #nav-menu-btn {
        display: block;
    }
}

@media (max-width: 938px) {
    .main-item a {
        font-size: 0.8rem;
    }
}

/* Главная */

#main {
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-pictures {
    position: relative;
    width: 100%;
    transform: translateX(calc(-77.91% - 120px - (85.27% + 60px)));
    display: flex;
    transition: transform 1000ms ease-in-out;
}

.main-picture {
    position: relative;
    flex-shrink: 0;
    margin-left: 60px;
    width: 85.28%;
    height: 85vh;
    max-width: 1228px;
    max-height: 670px;
}

.sliding-trigger {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 85vh;
    max-height: 670px;
    width: 140px;
    z-index: 2;
    opacity: 0;
    transition: opacity 250ms ease;
}

#main-back {
    left: 0;
}

#main-next {
    right: 0;
}


.sliding-trigger.show {
    opacity: 1;

}

#main-back.show {
    background: linear-gradient(to right, #EFD7BD, #efd7bd00) no-repeat;
}

#main-back.show .main-arrow-image {

    background: url("/images/arrow.svg") no-repeat;
    background-size: contain;
    width: 34px;
    height: 54px;
    transform: rotate(180deg);
}

#main-next.show {
    background: linear-gradient(to left, #EFD7BD, #efd7bd00) no-repeat;
}

#main-next.show .main-arrow-image {
    background: url("/images/arrow.svg") no-repeat;
    background-size: contain;
    width: 34px;
    height: 54px;
}


@media (orientation: portrait) {
    #main {
        max-width: 1240px;
    }

    .main-picture {
        max-height: 1440px;
    }

    .main-picture {
        max-width: 100%;
    }

    #main-pictures {
        width: 115%;
    }
}

@media (max-width: 1280px) and (orientation: landscape) {
    #main-pictures {
        width: 112%;
    }
}

.mp1 {
    background: url("/images/main-picture1.webp") no-repeat;
    background-size: cover;
    background-position: bottom;
}

.mp2 {
    background: url("/images/main-picture2.webp") no-repeat;
    background-size: cover;
    background-position: left top;
}

.mp3 {
    background: url("/images/main-picture3.webp") no-repeat;
    background-size: cover;
}

.mp-title {
    position: relative;
    top: 28%;
    left: 60px;
    font-family: "Days One";
    color: #FB9600;
    text-transform: uppercase;
    font-size: 2.6rem;

}

.mpt1 {
    width: 800px;
}

.mpt2 {
    width: 640px;
}

.mpt3 {
    width: 800px;
}

.mp-note {
    position: relative;
    top: 32%;
    left: 60px;

    font-family: "Ubuntu";
    color: #ffffff;
    font-weight: 350;

    text-transform: uppercase;
    font-size: 1rem;
}

.mpn1 {
    width: 450px;
}

.mpn2 {
    width: 500px;
}

.mpn3 {
    width: 400px;
}

.mp-button {
    position: absolute;
    top: 70%;
    left: 60px;

    border: none;
    background: #EEB338;
    height: 54px;
    padding: 0 60px;
    border-radius: 25px;

    font-family: "Forum";
    font-size: 1.5rem;
    color: #3B2105;

    cursor: pointer;
}

.mp-button:active {
    background: #bc8e2b;
}


#underline {
    margin-top: 18px;
    margin-bottom: 21px;
    width: 65%;
    max-width: 1000px;
    border-bottom: 4px solid #653B0D;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.scrool {
    display: none;
}

#scrool-menu label{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    border-radius: 7px;
    background: #D2A97D;
    cursor: pointer;
    transition: width 300ms ease-in-out;
}

#scrool-menu .scrool:checked + label {
    background: #89541A;
    width: 40px;
}

#scrool-menu label:hover {
    background: #b5895a;
}


@media (max-width: 860px) {
    .mp-title, .mp-note, .mp-button {
        left: 20px;
    }
}


/* адаптив для горизонтальной ориентации */

@media (max-height: 640px) and (orientation: landscape) {
    .mp2 {
        background-position: left top 20%;
    }
    
    .mp-title {
        top: 26%;
    }
    
    .mp-note {
        top: 30%;
    }

    .mp-button {
        top: 70%;
    }
}

@media (max-height: 480px) and (orientation: landscape) {

    .mp-title {
        top: 16%;
    }
    
    .mp-note {
        top: 20%;
    }

    .mp-button {
        top: 70%;
    }
}

@media (max-height: 380px) and (orientation: landscape) {
    .mp-title {
        font-size: 1.8rem;
    }
}

@media (max-width: 1400px) and (orientation: landscape) {
    .mp2 {
        background-size: 140%;
    }
}

@media (max-width: 1080px) and (orientation: landscape) {
    .mp2 {
        background-size: 160%;
    }

    .mp-title {
        font-size: 2.2rem;
    }

    .mpt2 {
        width: 570px
    }
}

@media (max-width: 860px) and (orientation: landscape) {
    .mp-title {
        font-size: 1.6rem;
    }

    .mpt1 {
        width: 500px;
    }

    .mpt2 {
        width: 400px;
    }

    .mpt3 {
        width: 500px;
    }

    .mp-note {
        font-size: 0.8rem;
    }

    .mpn1 {
        width: 240px;
    }
}

@media (max-width: 620px) and (orientation: landscape) {
    .mp-title {
        font-size: 1.4rem;
    }

    .mpt2 {
        width: 360px;
    }
}


/* адаптив для вертикальной ориентации */

@media (min-width: 0) and (orientation: portrait) {
    .mp1 {
        background-position: bottom left;
    }

    .mp2 {
        background-position: top left 35%;
    }

    .mp3 {
        background-position: top left 40%;
    }

    .mp-title {
        top: 15%;
    }

    .mp-note {
        top: 18%;
    }
}

@media (max-width: 400px) and (orientation: portrait) {

    .mp-title {
        font-size: 1.5rem;
    }

    .mpt1 {
        width: 290px;
    }

    .mpt2 {
        width: 200px;
    }

    .mpt3 {
        width: 250px;
    }

    .mp-note {
        font-size: 0.7rem;
    }

    .mpn1 {
        width: 200px;
    }

    .mpn2 {
        width: 200px;
    }

    .mpn3 {
        width: 200px;
    }

    .mpb2 {
        padding: 0 40px;
    }

    .mpb3 {
        padding: 0 40px;
    }
}

@media (min-width: 400px) and (orientation: portrait) {

    .mp-title {
        font-size: 2rem;
    }
    
    .mpt1 {
        width: 350px;
    }

    .mpt2 {
        width: 300px;
    }

    .mpt3 {
        width: 320px;
    }

    .mp-note {
        font-size: 0.8rem;
    }

    .mpn1 {
        width: 240px;
    }

    .mpn2 {
        width: 240px;
    }

    .mpn3 {
        width: 240px;
    }
}

@media (min-width: 500px) and (orientation: portrait) {

    .mp-title, .mp-note, .mp-button {
        left: 40px;
    }

    .mp-title {
        font-size: 2.3rem;
    }

    .mpt1 {
        width: 450px;
    }

    .mpt3 {
        width: 380px;
    }

    .mp-note {
        font-size: 0.9rem;
    }

    .mpn2 {
        width: 280px;
    }

    .mp-button {
        height: 64px;
        border-radius: 30px;
        padding: 0 80px;
        font-size: 1.65rem;
    }
}

@media (min-width: 650px) and (max-height: 1200px) and (orientation: portrait) {
    .mp2 {
        background-size: 320%;
        background-position: top left 30%;
    }
}

@media (min-width: 650px) and (orientation: portrait) {

    .mp-title, .mp-note, .mp-button {
        left: 60px;
    }

    .mp-title {
        font-size: 3rem;
    }

    .mpt1 {
        width: 550px;
    }

    .mpt2 {
        width: 400px;
    }

    .mpt3 {
        width: 500px;
    }

    .mp-note {
        font-size: 1.1rem;
    }

    .mpn1 {
        width: 450px;
    }

    .mpn3 {
        width: 450px;
    }

    .mpn2 {
        width: 350px;
    }
}

@media (min-width: 800px) and (orientation: portrait) {
    .mp2 {
        background-position: top left 30%;
    }

    .mp-title, .mp-note, .mp-button {
        left: 60px;
    }

    .mp-title {
        top: 18%;
        font-size: 4rem;
    }

    .mpt1 {
        width: 700px;
    }

    .mpt2 {
        width: 600px;
    }

    .mpt3 {
        width: 650px;
    }

    .mp-note {
        top: 21%;
        font-size: 1.5rem;
    }

    .mpn1 {
        width: 450px;
    }

    .mpn2 {
        width: 600px;
    }

    .mpn3 {
        width: 600px;
    }

    .mp-button {
        height: 84px;
        border-radius: 40px;
        padding: 0 120px;
        font-size: 2.2rem;
    }
}


/* Стили для заголовков */

.heading {
    position: relative;
    width: calc(100% - 60px);
    left: 60px;
    top:0;
    font-size: 3rem;
    font-family: "Days One";
    color: #3B2105;
}

@media (max-width: 840px) and (orientation: portrait) {
    .heading {
        font-size: 2.4rem;;
        left: 40px;
    }
}

@media (max-width: 750px) {
    .heading {
        font-size: 2.4rem;;
        left: 2.5%;
    }
}

@media (max-width: 620px) and (orientation: portrait) {
    .heading {
        font-size: 2.3rem;;
    }
}

@media (max-width: 480px) and (orientation: portrait) {
    .heading {
        font-size: 1.9rem;;
    }
}

@media (max-width: 380px) and (orientation: portrait) {
    .heading {
        font-size: 1.7rem;;
    }
}

/* Контейнеры */

.container {
    margin-bottom: 80px;
    position: relative;
    width: 100%;
    max-width: 1440px;
}

@media (max-width: 720px) {
    .container {
        margin-bottom: 60px;
    }
}

@media (max-width: 480px) {
    .container {
        margin-bottom: 40px;
    }
}

/* О нас */

.content {
    margin-top: 20px;
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-box {
    position: relative;
    width: 630px;
    height: 230px;
    border: 4px solid #3B2105;
    border-radius: 10px;
    box-shadow: -2px 5px 4px 0 rgba(0, 0, 0, 0.25);
}

#about-picture1 {
    background: url("/images/about-picture1.webp") no-repeat;
    background-size: 120%;
    background-position: top -40px center;
    z-index: 2;
    transform: translate(35%, 12%);
}

#about-picture2 {
    background: url("/images/about-picture2.webp") no-repeat;
    background-size: 120%;
    background-position: top -40px center;
    z-index: 1;
    transform: translateX(-45%);
}

#about-picture3 {
    background: url("/images/about-picture3.webp") no-repeat;
    background-size: 120%;
    background-position: top -40px center;
    z-index: 2;
    transform: translate(45%, -10%);
}

.content-text {
    font-family: "Cormorant Unicase";
    color: #3B2105;

    position: absolute;
    font-size: 1.5rem;
}

#text1 {
    top: 25%;
    left: -70%;
    width: 65%;
}

#text2 {
    top: 35%;
    left: 107%;
    width: 60%;
}

#text3 {
    top: 40%;
    left: -70%;
    width: 55%;
}

@media (max-width: 1300px) {
    
    .content-box {
        width: 48.46%;
        min-width: 431px;
    }

    #about-picture1 {
        transform: translate(30%, 12%);
    }

    #about-picture2 {
        transform: translateX(-40%);
    }

    #about-picture3 {
        transform: translate(40%, -10%);
    }
}

@media (max-width: 1200px) {
    .content-text {
        font-size: 1.4rem;
    }
}

@media (max-width: 840px) {

    .content-text {
        font-size: 1.2rem;
    }

    #about-picture1 {
        left: calc((100% - 438px) / 2 - 30px);
        transform: translate(0, 12%);
    }

    #about-picture2 {
        left: calc((-100% + 438px) / 2 + 30px);
        transform: translateX(0);
    }

    #about-picture3 {
        left: calc((100% - 438px) / 2 - 90px);
        transform: translate(0, -10%);
    }

    #text1 {
        top: 25%;
        left: -52%;
        width: 50%;
    }

    #text2 {
        top: 35%;
        left: 107%;
        width: 50%;
    }

    #text3 {
        top: 40%;
        left: -45%;
        width: 45%;
    }
}

@media (max-width: 750px) {
    #about-picture1, #about-picture2, #about-picture3 {
        margin-bottom: 10px;
        left: 0;
        transform: translate(0);


        box-shadow: none;
        border: none;

        width: 95%;
        min-width: 0;
        z-index: 1;
    }

    #about-picture3 {
        background-position: top -100px center;
    }

    .content-box::before {
        position: absolute;
        content: "";
        width: 99.7%;
        height: 99%;
        border: 2px solid #3B2105;
        border-radius: 10px;
        background: linear-gradient(to top, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0));
        opacity: 0.65;
        z-index: 2;
    }

    .content-text {
        position: relative;
        color: #FB9600;
        z-index: 3;
    }

    #text1, #text2, #text3 {
        top: 70%;
        left: 20px;
    }

    #text1 {
        width: 400px;
    }

    #text2 {
        width: 400px;
    }

    #text3 {
        width: 300px;
    }
    
}

@media (max-width: 540px) {
    #about-picture1, #about-picture2, #about-picture3 {
        height: 200px;
        background-size: cover;
        background-position: top left;
    }

    .content-text {
        font-size: 1rem;
    }

    #text1, #text2, #text3 {
        top: 70%;
        left: 10px;
    }

    #text1 {
        width: 300px;
    }

    #text2 {
        width: 340px;
    }

    #text3 {
        width: 220px;
    }
}

@media (max-width: 450px) and (min-width: 410px) {

    #about-picture2 {
        background-position: top -20px left;
    }

    #about-picture3 {
        background-position: top -40px left;
    }
}

@media (max-width: 450px) {
    #about-picture1, #about-picture2, #about-picture3 {
        height: 136px;
    }

    .content-text {
        font-size: 0.8rem;

    }

    #text1 {
        width: 260px;
    }

    #text2 {
        width: 240px;
    }

    #text3 {
        width: 160px;
    }
}


/* Товары */

#products-title {
    width: 60%;
    line-height: 100%;
}

#products {
    position: relative;
    width: 100%;
    max-width: 1440px;
}

#prodicts-pictures {
    position: relative;
    display: flex;
    width: calc(100% - 120px);
    justify-content: space-between;
    list-style: none;
    margin-top: 20px;
    left: 60px;
}

.product-box {
    overflow: hidden;
    position: relative;
    transition: width 800ms ease;
    width: 17%;
    height: 586px;
    z-index: 1;
}

.product-box::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    
    transform: translateY(-100%);
    transition: transform 800ms ease-out;

    background: linear-gradient(to top, #ffffff00 50%, #000000 85%);
    opacity: 0.6;
    z-index: 2;
}

.product-box.prod::before {
    content: "";
    transform: translateY(0);
}

.product-box::after {
    content: "";
    position: absolute;
    width: calc(100% - 7px);
    height: calc(100% - 7px);
    border: 4px solid #3B2105;
    
    z-index: 3;
}

.product-title {
    position: absolute;
    width: 50%;
    top: -100%;
    left: 3%;
    transition: top 800ms ease-out;

    color: #F7F2EC;
    font-family: "Days One";
    font-size: 2.2rem;
    z-index: 3;
}

.product-title.prod {
        top: 3%;
}

@media (hover: hover) {
    .product-box:hover::before {
        transform: translateY(0);
    }

    .product-box:hover .product-title, .product-title.prod {
        top: 3%;
    }
}

#prod-pic1 {
    background: url("/images/prod-picture1.webp") no-repeat;
    background-size: cover;
}

#prod-pic2 {
    background: url("/images/prod-picture2.webp") no-repeat;
    background-size: cover;
}

#prod-pic3 {
    background: url("/images/prod-picture3.webp") no-repeat;
    background-size: cover;
    background-position: top left -240px;
}

#prod-pic4 {
    background: url("/images/prod-picture4.webp") no-repeat;
    background-size: cover;
}

#prod-pic5 {
    background: url("/images/prod-picture5.webp") no-repeat;
    background-size: cover;
    background-position: top left -140px;
}

@media (max-width: 1140px) {
    .product-box {
        height: 450px;
    }

    .product-title {
        left: 5%;
        font-size: 1.8rem;
    }
}

@media (max-width: 870px) {

    #products-title {
        width: 80%;
    }
}

@media (max-width: 760px) {
    .product-box {
        width: 400px;
        height: 600px;
    }

    .product-box:last-child {
        margin-right: 30px;
    }

    #prodicts-pictures {
        left: 30px;
        width: 2100px;
    }

    #pictures-container {
        flex-wrap: nowrap;
        overflow-x: auto;
        scrollbar-width: none;
    }

    #pictures-container::-webkit-scrollbar {
        display: none;
    }

    @media (hover: hover) {
        #pictures-container {
            padding-bottom: 12px;
        }

        #pictures-container:hover {
            scrollbar-width: thin;
            scrollbar-color: #2C1904 rgba(0, 0, 0, 0);
        }

        #pictures-container::-webkit-scrollbar {
            display: block;
        }
    }

    .product-box::before {
        transform: translateY(0);
    }

    .product-title {
        top: 3%;
    }
}

@media (max-width: 580px) {
    .product-box {
        width: 270px;
        height: 400px;
    }

    #prodicts-pictures {
        left: 30px;
        width: 1450px;
    }

    .product-title {
        font-size: 1.3rem;
    }
}

@media (max-width: 420px) {
    .product-box {
        width: 210px;
        height: 290px;
    }

    #prodicts-pictures {
        left: 15px;
        width: 1120px;
    }

    .product-box:last-child {
        margin-right: 18px;
    }

    .product-title {
        font-size: 1.1rem;
    }
}

/* Услуги */

#services-info {
    margin-top: 20px;
    position: relative;
    width: calc(100% - 120px);
    left: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#services-container {
    display: flex;
    position: relative;
    overflow-x: auto;
    width: 68%;
    scrollbar-width: none;
}



@media (hover: hover) {
    #services-container {
        padding-bottom: 12px;
    }

    #services-container:hover {
        scrollbar-width: thin;
        scrollbar-color: #2C1904 rgba(0, 0, 0, 0);
    }

    #services-container::-webkit-scrollbar {
        display: block;
    }
}



#services-list {
    position: relative;
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, 262px);
    grid-auto-rows: 244px;
    gap: 6px
}

.service-box {
    position: relative;
    background: #EAD5BF;
    border: 2px solid #3B2105;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sb-title {
    position: absolute;
    font-family: "Cormorant Unicase";
    color: #3B2105;
    line-height: 90%;
    left: 5%;
    top: 5%;
    width: 85%;

}

.sb-description {
    list-style: none;
    
    position: relative;
    left: 8%;
    width: 88%;
    line-height: 140%;
    color: #592E00;
    font-family: "Forum";
}

.sb-content {
    display: flex;
    align-items: top;
    line-height: 90%;
    margin-bottom: 10px;
}

.sb-content::before {
    position: relative;
    transform: translateY(325%);
    content: "";
    width: 2px;
    height: 2px;
    background: #592E00;
    margin-right: 5%;
}

.cost-box {
    position: absolute;
    left: 7%;
    bottom: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6DFC8;
    border: 1px solid #DBB993;
    width: 48%;
    height: 40px;
    border-radius: 20px;
    font-family: "Cormorant Unicase";
    font-weight: 600;
    
    color: #3B2105;
}

.cost {
    font-family: "David Libre";
    font-weight: 400;
}

#services-list .service-box:first-child {
    background: #D1B79B;
}

#services-note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 30%;
    
    border: 2px solid #3B2105;
    border-radius: 20px;
}

#sn-title {
    position: relative;
    left: 5%;
    top: 2%;
    width: 90%;
    font-family: "Days One";
    font-size: 1.5rem;
}

#sn-list {
    color: #975E20;
    font-family: "Days One";

    position: relative;
    width: 83%;
    left: 11%;
    font-size: 0.9rem;
}

.sn-list-item {
    margin-bottom: 17px;
}

#sn-button {
    position: relative;
    top: -4%;
    left: 40%;

    background: #3B2105;
    transition: background 300ms ease;
    color: #D4AE87;
    font-family: "Cormorant Unicase";
    font-weight: 700;
    height: 40px;
    width: 48%;
    border-radius: 10px;
    cursor: pointer;
}

@media (hover: hover) {
    #sn-button:hover {
        background: #573613;
    }
}

#sn-button:active {
    transition: background 0ms;
    background: #6a4217;
}

@media (min-width: 1380px) {
    #services-note {
        width: 35%;
    }
}

@media (max-width: 1293px) {
    #services-note {
        width: 55%;
    }

    #sn-title {
        position: relative;
        left: 5%;
        top: 2%;
        width: 80%;
        font-size: 1.9rem;
    }

    #sn-list {
        width: 70%;
        left: 11%;
        font-size: 1.1rem;
    }

    .sn-list-item {
        margin-bottom: 30px;
    }

    #sn-button {
        top: -4%;
        left: 40%;

        height: 60px;
        width: 48%;
        border-radius: 15px;

        font-size: 1.2rem;
    }
}

@media (max-width: 1160px) {
    #services-note {
        width: 45%;
    }
}

@media (max-width: 1060px) {
    #services-container {
        width: 100%;
        overflow-x: auto;
    }
    
    #services-info {
        flex-direction: column;
        width: 100%;
        left: 0;
    }

    #services-list {
        width: 2000px;
        padding: 0 30px;
        display: flex;
    }

    .service-box {
        width: 262px;
        flex-shrink: 0;
        height: 244px;
    }

    #services-note {
        margin-top: 34px;
        left: 30px;
        width: calc(90% - 60px);
        align-items: center;
        padding: 0 5%;
    }

    #sn-title {
        width: auto;
        margin: 20px 0 60px;
        left: 0;
    }

    #sn-list {
        width: 100%;
        left: 0;
        display: grid;
        column-gap: 80px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }


    #sn-button {
        top: -4%;
        left: 0;
        margin: 60px 0 20px;

        height: 60px;
        width: 43%;
        border-radius: 15px;

        font-size: 1.2rem;
    }
}

@media (max-width: 820px) {
    #sn-list {
        font-size: 0.9rem;
        width: 80%;
    }

    #sn-button {
        width: 60%;
    }
}

@media (max-width: 500px) {
    #sn-button {
        position: relative;
        width: 80%;
    }

    #sn-title {
        font-size: 1.5rem;
    }
}

@media (max-width: 420px) {

    #services-note {
        
        width: calc(90% - 32px);
        left: 15px;
    }

    #sn-button {
        position: relative;
        width: 80%;
        height: 50px;
    }

    #sn-title {
        margin: 15px 0 20px;
        font-size: 1.4rem;
    }

    #sn-list {
        width: 90%;
        font-size: 0.8rem;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .sn-list-item {
        margin-bottom: 16px;
    }

    #sn-button {
        margin: 20px 0 15px;

    }

    #services-list {
        padding: 0 15px;
    }
}

/* Контакты */

#contacts-container {
    position: relative;
    margin-top: 20px;
    width: calc(100% - 120px);
    left: 60px;
    column-gap: 5%;
    row-gap: 12px;
    display: grid;
    grid-template-columns: 360px 1fr;
    grid-template-rows: 248px 1fr;
    grid-template-areas: "a c"
                         "b c";
}

.contacts-box {
    background: #F1E4D6;
    border: 2px solid #E4CDB3;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.25);
}

#number-and-messagers {
    position: relative;
    grid-area: a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#email-socnet-container {
    display: flex;
    flex-direction: column;
    position: relative;
    grid-area: b;
}

#wb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    grid-area: c;
}

.contacts-text {
    font-family: 'Cormorant Unicase';
    font-size: 1.2rem;
    color: #3B2105;
}

#number-img {
    background: url("/images/phone.svg") no-repeat;
    background-size: cover;
    margin-right: 10px;
    width: 27px;
    height: 22.31px;
    flex-shrink: 0;
}

#number {
    position: relative;
}

#number-title {
    position: relative;
    display: flex;
    align-items: center;
    margin: 10px 5% ;
}

#number-text {
    position: relative;
    margin: 20px 8%;
    font-family: "Days One";
    font-size: 1.7rem;
    color: #3B2105
}

#messagers {
    position: relative;
}

#messagers-title {
    display: flex;
    align-items: center;
    margin: 10px 5%;
}

#messagers-img {
    background: url("/images/message.svg") no-repeat;
    background-size: cover;
    width: 27px;
    height: 25px;
    margin-right: 10px;
    flex-shrink: 0;
}

#mt-text {
    line-height: 95%;
}

#messagers-buttons {
    margin: 10px 5% 20px;
    position: relative;

    display: flex;
    justify-content: space-between;
    
}

.messagers-button {
    padding: 10px 14.5%;

    background: #3F3224;
    transition: background 300ms;
    border: none;
    border-radius: 5px;

    color: #EED3B6;
    font-family: "Forum";
    font-size: 1rem;

    cursor: pointer;
}

#email {
    position: relative;
    height: 114px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#email-title {
    margin: 0 5% 12px;
    display: flex;
    align-items: center;
}

#email-img {
    background: url("/images/mail.svg") no-repeat;
    background-size: cover;
    width: 25px;
    height: 19px;
    margin-right: 10px;
    flex-shrink: 0;
}

#email-text {
    font-family: "Forum";
    color: #3B2105;
    font-size: 1rem;
    cursor: pointer;
    margin: 0 7%;
}

#email-text:visited, .socnet-link:visited {
    color: #54320b;
}

#social-networks {
    position: relative;
    height: 157px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#socnet-title {
    margin: 0 5% 10px;
    display: flex;
    align-items: center;
}

#socnet-img {
    background: url("/images/social-network.svg");
    background-size: cover;
    width: 23px;
    height: 21px;
    margin-right: 10px;
    flex-shrink: 0;
}

#socnet-list {
    margin: 0 7%;
    list-style: none;
    font-family: "Forum";
}

.socnet-item {
    margin-top: 8px;
    display: flex;
}

.socnet-item::before {
    content: "";
    position: relative;
    background: url("/images/socnet-marker.svg") no-repeat;
    transform: translateY(40%);
    font-size: cover;
    width: 10px;
    height: 10px;
    margin-right: 2%
}

.socnet-link {
    color: #3B2105;
    cursor: pointer;
}

#wb-title {
    position: absolute;
    margin: 4%;
    top: 0;
    font-size: 2.2rem;
    font-family: "Days One";
    color: #3B2105;
}

#wb-votes {
    margin: 0 12%;
    list-style: none;
    font-family: "Days One";
    color: #5A4024;
    font-size: 1.2rem;
}

#wb-votes .wb-vote:first-child {
    width: 70%;
}

.wb-vote {
    margin-bottom: 25px;
}

#wb-button {
    position: absolute;
    bottom: 10%;

    background: #623403;
    transition: background 300ms;

    font-family: "Cormorant Unicase";
    font-size: 1.2rem;
    color: #EED3B6;

    width: 44%;
    height: 60px;
    border-radius: 5px;
    border: none;
    left: 28%;

    cursor: pointer;
}

@media (hover: hover) {
    .messagers-button:hover {
        background-color: #5C4A36;
    }

    #wb-button:hover {
        background: #78450f;
    }
}

.messagers-button:active {
    transition: 0ms;
    background-color: #735d45;
}

#wb-button:active {
    transition: 0ms;
    background: #855119;
}

@media (max-width: 1280px) {
    #wb-button {
        width: 60%;
        left: 20%;
    }
}

@media (max-width: 1175px) {
    #wb-title {
        font-size: 2.1rem;
    }

    #wb-votes {
        font-size: 1.2rem;
    }

    #wb-votes .wb-vote:first-child {
        width: 90%;
    }
}

@media (max-width: 1162px) {
    #wb-votes .wb-vote:nth-child(2) {
        width: 90%;
    }
}

@media (max-width: 1070px) {
    #wb-title {
        font-size: 1.8rem;
    }

    #wb-votes {
        font-size: 1.1rem;
    }

    #wb-button {
        height: 52px;
        width: 80%;
        left: 10%;
    }
}

@media (max-width: 1060px) {
    #contacts-container {
        width: calc(100% - 60px);
        left: 30px;
    }
}

@media (max-width: 1000px) {
    #wb-title {
        margin: 5%;
        font-size: 1.5rem;
    }

    #wb-votes {
        font-size: 1.05rem;
        width: 85%;
    }

    #wb-button {
        height: 52px;
        bottom: 30px;
    }

    #contacts-container {
        column-gap: 3%;
    }
}

@media (max-width: 840px) {
    #contacts-container {
        column-gap: 12px;
        row-gap: 12px;
        
        grid-template-columns: 360px 1fr;
        grid-template-rows: 248px 460px;
        grid-template-areas: "a b"
                            "c c";
    }

    #wb-title {
        width: 70%;
    }

    #wb-votes .wb-vote:first-child {
        width: 64%;
    }
}

@media (max-width: 620px) {
    #contacts-container {
        width: calc(100% - 30px);
        left: 15px;
    }

    #contacts-container {
        column-gap: 12px;
        row-gap: 12px;
        
        grid-template-columns: 1fr;
        grid-template-rows: 248px auto 460px;

        grid-template-areas: "a"
                             "b"
                             "c";
    }

    #messagers-buttons {
        justify-content: center;
    }

    .messagers-button {
        padding: 14px 16%;
        margin: 0 5px;
    }

    #email, #social-networks {
        background: none;
        border: none;
        box-shadow: none;
        justify-content: start;
        height: auto;
    }

    #email {
        margin-bottom: 40px;
    }

    #email-socnet-container {
        padding: 5% 5% 7%;
        display: grid;
        
        gap: 12px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        background: #F1E4D6;
        border: #E4CDB3;
        border-radius: 20px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        margin-bottom: 20px;
    }

    #wb-title {
        margin: 5%;
        font-size: 1.4rem;
        width: 90%;
    }

    #wb-votes {
        font-size: 1rem;
        width: 85%;
    }

    #wb-button {
        height: 52px;
        bottom: 30px;
    }

    #wb-votes .wb-vote:first-child {
        width: 88%;
    }

    #wb-votes .wb-vote:nth-child(2) {
        width: 80%;
    }
}

@media (max-width: 540px) {
    .messagers-button {
        padding: 14px 15%;
        margin: 0 5px;
    }

    #wb-title {
        font-size: 1.3rem;
    }

    #wb-votes {
        font-size: 0.9rem;
    }

    #wb-button {
        height: 52px;
        bottom: 30px;
    }
}

@media (max-width: 390px) {
    .contacts-text {
        font-size: 1rem;
    }

    #number-text {
        font-size: 1.4rem;
    }

    #wb-votes {
        margin: 0 6%;
    }

    .messagers-button {
        padding: 12px 12%;
        margin: 0 5px;
    }
}


/* Футер */

footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #2C1904;
}

#footer-container {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    max-width: 1440px;
    display: grid;
    column-gap: 15%;
    row-gap: 30px;

    grid-template-columns: 1fr 2fr;
    grid-template-rows: 74px 44px;
    justify-content: center;
    align-items: center;


    grid-template-areas: "d e"
                         "f f";
}

#footer-logo {
    grid-area: d;

    position: relative;
    background: url("/images/footer-logo.svg");
    background-size: cover;
    left: 48px;
    width: 239px;
    height: 26px;
}

#footer-nav {
    grid-area: e;

    position: relative;
    
    display: flex;
    flex-direction: row;
    list-style: none;
}

.footer-item {
    margin: 0 5%
}

.footer-link {
    color: #F8EEE3;
    font-family: "Cormorant Unicase";
    text-decoration: none;
    font-size: 0.9rem;
}

#copyright {
    grid-area: f;

    position: relative;
    display: flex;
    padding-left: 48px;
    color: #F8EEE3;
    font-family: "Forum";
    font-size: 1.1rem;
}

@media (max-width: 1120px) {
    #footer-container {
        column-gap: 7%;
    }

    .footer-item {
        margin: 0 4%
    }
}

@media (max-width: 1060px) {
    #footer-logo, #copyright {
        padding-left: 24px;
    }
}

@media (max-width: 820px) {
    footer {
        height: auto;
    }

    #footer-container {
        column-gap: 0;
        row-gap: 0;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    #footer-logo {
        left: 0;
        margin: 24px;
    }

    #footer-nav {
        margin: 0 24px 40px;

        flex-direction: column;
    }

    .footer-item {
        margin: 10px 0;
    }

    #copyright {
        margin-bottom: 10px;
    }
}

@media (max-width: 520px) {
    #copyright {
        width: 170px;
    }
}